<div class="container">
  <h1>My tasks</h1>

  <div class="card">
    <% @tasks.each do |task| %>
      <div class="task">
        <input type="checkbox" value="<%= task.completed %>" <%= "checked" if task.completed %> >
        <p class="link"><%= link_to task.title, task_path(task) %></p>
        <%= link_to "💩", task_path(task),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
  </div>

  <p class="link"><%= link_to "➕ Add a new task", tasks_new_path %></p>
</div>
