<div class="container">
  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>

  <% if @task.completed %>
    <div class="task">
      <input type="checkbox" value="<%= @task.completed %>" <%= "checked" if @task.completed %> >
      <p>This task is completed.</p>
    </div>
  <% else %>
  <div class="task">
    <input type="checkbox" value="<%= @task.completed %>" <%= "checked" if @task.completed %> >
    <p>This task is not completed yet.</p>
  </div>
  <% end %>

  <p class="link"><%= link_to "ðŸ“ Edit this task", edit_path %></p>

  <p class="link"><%= link_to "ðŸ”™ Back to list", tasks_path %></p>
</div>
